[Unit]
Description=Do a one-time mail sync

[Service]
Type=oneshot
ExecStart=/home/wgh/dotfileswgh/commands/aliases/with-dotfileswgh-env if-background-sync-enabled hatchmailsync
#RemainAfterExit=false
#ExecStop=
#StandardOutput=journal
