[submodule "external/emacs/tarao-evil-plugins"]
	path = external/emacs/tarao-evil-plugins
	url = https://github.com/tarao/evil-plugins.git
[submodule "external/zsh/zgen"]
	path = external/zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "external/misc/libnotifylog"]
	path = external/misc/libnotifylog
	url = https://github.com/willghatch/libnotifylog.git
[submodule "external/misc/hatchak"]
	path = external/misc/hatchak
	url = https://github.com/willghatch/hatchak.git
[submodule "external/misc/kbd-state-mon"]
	path = external/misc/kbd-state-mon
	url = https://github.com/willghatch/kbd-state-mon
[submodule "external/emacs/sexp-rewrite"]
	path = external/emacs/sexp-rewrite
	url = https://github.com/rmculpepper/sexp-rewrite
[submodule "external/emacs/whitespace-final-newline"]
	path = external/emacs/whitespace-final-newline
	url = https://github.com/adamsmd/whitespace-final-newline
[submodule "external/misc/dictionaries"]
	path = external/misc/dictionaries
	url = https://github.com/willghatch/dictionaries
[submodule "external/emacs/straight.el"]
	path = external/emacs/straight.el
	url = https://github.com/radian-software/straight.el
