[submodule "external/emacs/tarao-evil-plugins"]
	path = external/emacs/tarao-evil-plugins
	url = https://github.com/tarao/evil-plugins.git
[submodule "external/vim/Vundle.vim"]
	path = external/vim/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "external/pentadactyl/pentadactyl-solarized"]
	path = external/pentadactyl/pentadactyl-solarized
	url = https://github.com/claytron/pentadactyl-solarized.git
[submodule "external/zsh/zgen"]
	path = external/zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "external/gtk/gtk-adb"]
	path = external/gtk/gtk-adb
	url = https://github.com/willghatch/gtk-adb
[submodule "external/misc/libnotifylog"]
	path = external/misc/libnotifylog
	url = https://github.com/willghatch/libnotifylog.git
[submodule "external/misc/hatchak"]
	path = external/misc/hatchak
	url = https://github.com/willghatch/hatchak.git
[submodule "external/firefox/scrollhighlight"]
	path = external/firefox/scrollhighlight
	url = https://github.com/tejohnso/scrollhighlight
[submodule "external/firefox/dactyl"]
	path = external/firefox/dactyl
	url = https://github.com/5digits/dactyl.git
	ignore = dirty
[submodule "external/misc/keynav"]
	path = external/misc/keynav
	url = https://github.com/jordansissel/keynav.git
[submodule "external/misc/rootgit-tools"]
	path = external/misc/rootgit-tools
	url = https://github.com/willghatch/rootgit-tools
