[submodule "external/emacs/tarao-evil-plugins"]
	path = external/emacs/tarao-evil-plugins
	url = https://github.com/tarao/evil-plugins.git
[submodule "external/emacs/yasnippet"]
	path = external/emacs/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "external/zsh/antigen"]
	path = external/zsh/antigen
	url = https://github.com/zsh-users/antigen.git
