@define-color color_bg #2d2d2d;
@define-color color_bg_dark #1d1d1d;
@define-color color_urgent #991d1d;

* {
    font-family: Noto Sans Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

box, menubar, button {
    background-color: @color_bg;
    background-image: none;
    box-shadow: none;
}

button, label {
    color: @color_text;
}

button:hover {
    background-color: @color_bg_dark;
}


box, menubar {
    background-color: @color_bg;
}

.workspaces .item {
    /* low padding makes the numbers nice and close, takes up less room */
    padding:2px;
}
.workspaces .item.visible {
    background-color: #84929d;
}

.workspaces .item.focused {
    box-shadow: inset 0 -3px;
    background-color: #64a2ad;
}
.workspaces .item.urgent {
    background-color: @color_urgent;
}

.workspaces .item:hover {
    box-shadow: inset 0 -3px;
}

.upower .icon {
    background-color: #f0c253;
}

.focused .icon {
    background-color: @color_bg;
}

.network_manager .icon {
    background-color: #00a233;
}
