
@-moz-document url-prefix(about:blank) {*{background-color:#202530;}}
@-moz-document url-prefix(about:newtab) {*{background-color:#202530;}}

/* firefox chrome */
/*window {background-color:#111111; color:#f5f5f5}*/
/*.tabbrowser-tabs {background-color:#111111; color:#f5f5f5}*/