set editing-mode emacs

# Rather than using "editing mode vi", use emacs mode with a keybinding to get to
# vi-movement-mode.  This is due to weirdness using readline with Racket and its
# seeming inability to unbind ESC in vi-insert-mode.

set keymap emacs
"jk": vi-movement-mode
"kj": vi-movement-mode
# This doesn't seem to be working.  Apparently it doesn't catch the interrupt signal and interpret at C-c, it justs handles interrupt without caring about keymap.
"\C-c": vi-movement-mode
"\C-s": unix-word-rubout
"\C-h": ignore
"\C-t": ignore
"\C-w": ignore
"\C-x\C-r": reverse-search-history
"\C-x\C-s": forward-search-history
"\C-x\C-t": transpose-chars
"\C-x\C-o": operate-and-get-next
"\C-x\C-@": set-mark

# In case I end up in this mode somehow, at least be sure I have the
# same keybinding to get back to movement mode.
set keymap vi-insert
"jk": vi-movement-mode
"kj": vi-movement-mode
"\C-c": vi-movement-mode
"\C-s": unix-word-rubout
"\C-x\C-r": reverse-search-history
"\C-x\C-s": forward-search-history
"\C-x\C-t": transpose-chars
"\C-x\C-o": operate-and-get-next
"\C-x\C-@": set-mark



####################################################################

set keymap vi-command

# Normally i,a,I,A go to vi-insert-mode.  I want emacs-editing-mode instead.
"i": emacs-editing-mode
"I": "oli"
"a": "i\C-f"
"A": "ela"
"C": "Da"
# I'm not sure how to fix `c<arg>`, so... they'll just have a worse map...

"gg": beginning-of-history
"G": end-of-history
# o/e map
"e":
"o":
"ec": forward-char
"oc": backward-char
# readline determines the behavior of vi-char-search based on the last character
# typed in the binding...
"ef": vi-char-search
"eF": vi-char-search
"of": "eF"
"et": vi-char-search
"eT": vi-char-search
"ot": "eT"
"e,": vi-char-search
"e;": vi-char-search
"om": "e,"
"em": "e;"
"oe": vi-end-word
"ee": vi-end-word
"ol": beginning-of-line
"el": end-of-line
"f": "e;"
"F": "e,"
# s map
"s":
"sm": vi-set-mark
"sg": vi-goto-mark
# t map
"t":
"tlf": dump-functions
"tlv": dump-variables
"tlm": dump-macros

"q": start-kbd-macro
"Q": call-last-kbd-macro

# go back to emacs, because it seems python starts up with whatever is the last
# keymap to be edited...
set keymap emacs

# When completing symlinks to directories, add the trailing slash
set mark-symlinked-directories on
