#!/bin/sh
export WGHHOME=$HOME
export DOTFILESWGH=$HOME/dotfileswgh
if test -f $DOTFILESWGH/dotlocal/xsession-full; then
    source $DOTFILESWGH/xsession-common
else
    source $DOTFILESWGH/env-more.sh
fi
